<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note.ms 备份器</title>
    <link href="https://fastly.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Note.ms 加密备份器</h1>
    <p>此备份器由 Googol 自主研发，专门防止他人恶意毁灭页面。</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="页面" v-model="page">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="密钥" v-model="password">
            </div>
        </div>
        您得到的加密结果：<a target="_blank" :href="'https://note.ms/' + result">/{{result}}</a>
    </div><br>
    <p>反馈：<a href="https://bbs.notems.xyz">NoteBBS</a></p>
</body>
<script src="https://fastly.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://fastly.jsdelivr.net/npm/js-md5@0.8.3/build/md5.min.js"></script>
<script>
    /**
     * Destoryer
     * Don't think to look my code!
     * 
     * 
     * 
     * 
     * 
     * 
     * 
     * 



















































































     It looks you is the normal developer, look it up!
    */

    const {createApp, ref, computed} = Vue;
    let salt = "doy"+"beabletoENCYpt"+"sbr"+"eset"+"_chan!!";
    createApp({
        setup() {
            const page = ref('');
            const password = ref('');
            const result = computed(() => {
                return md5(window.salt + page.value + '&' + (password.value ?? "anti-vandalism by cmd") + "%%%%%Powered by Googol");
            });
            return {
                page,
                password,
                result
            }
        }
    }).mount('.container');
</script>
</html>
